<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qushuai.dao.StaffMapper">
	<resultMap type="com.qushuai.pojo.Staff" id="staff-result">
		<id property="id" column="S_ID" />
		<result property="name" column="S_NAME" />
		<result property="job" column="S_JOB" />
		<result property="phone" column="S_PHONE" />
		<result property="email" column="S_EMAIL" />
	</resultMap>
</mapper>
